.card-header { 
    background-image: linear-gradient(rgb(30, 215, 240), white);
    height: 100em;
}
.center {
    text-align: center;
    font-size: 11.25rem;
    margin-top: revert;
    color: white;
  }